<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baño Huellas - Contacto</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Name&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css">

</head>


<!-- Este es el estilo del Navbar -->
<style 2>

  header {
      background-color: #bce0ba;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 50px;
  }

  .navbar {
      display: flex;
      align-items: center;
  }

  .navbar-logo {
      margin-right: 10px;
  }

  .logo {
      width: 50px;
      height: auto;
  }

  .navbar-title h1 {
      margin: 0;
      font-family: 'Font Name', sans-serif;
      text-align: center;
      flex-grow: 1;
  }

  .navbar-buttons {
      display: flex;
      gap: 10px;
  }

  /* Estilos para los botones de inicio y perfil */
  .navbar-buttons button {
      font-family: 'Font Name', sans-serif;
      font-size: 14px;
      padding: 8px 16px;
      border-radius: 50px;
      color: rgb(244, 247, 247);
      background-color: rgb(61, 187, 44);
      margin-left: 70px;
      cursor: pointer;
  }

</style>
<!-- Hasta aquíllega el esteilo del navbar -->

<body>

  <header>
    <div class="navbar">
        <div class="navbar-logo">
            <img class="logo" src="{{ url_for('static', filename='img/vet.png') }}" alt="Logo">
        </div>
        <div class="navbar-title">
            <h1>Baño Huellas</h1>
        </div>
        <div class="navbar-buttons">
            <button class="btn btn-primary rounded-pill me-2" onclick="window.location.href = 'inicio'">Inicio</button>
              
            </div>

        
        </div>
    </div>
    
</header>
    

    <section class="contenido-flex container-xxl">
        <section class="contacto row w-100 justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="formulario" data-aos="fade-right" data-aos-duration="1000">
                    <form action="#" method="POST">
                        <div class="mb-3">
                            <br><label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="mensaje" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="mensaje" name="mensaje" rows="5"
                                required></textarea>
                        </div>
                        <br><button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="boton-mapa" data-aos="fade-up" data-aos-duration="1000">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#mapaModal">
                        Ver mapa
                    </button>
                </div>
            </div>


            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                <div class="informacion-contacto" data-aos="fade-left" data-aos-duration="1000">
                    <h4>Información de contacto</h4>
                    <p><i class="bi bi-geo-alt-fill"></i> Dirección: Malambo, Atlántico</p>
                    <p><i class="bi bi-telephone-fill"></i> Teléfono: +57 318 646 9410</p>
                    <p><i class="bi bi-envelope-fill"></i> Email: banohuellas@gmail.com</p>
                    <p><i class="bi bi-clock-fill"></i> Horario de atención: Lunes a Viernes de 9am a 6pm</p>
                </div>
            </div>
        </section>
    </section>


    <div class="modal fade" id="mapaModal" tabindex="-1" aria-labelledby="mapaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mapaModalLabel">Ubicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.86607324679!2d-74.7820687841297!3d10.85427606082549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6c3a548d7b5e85%3A0x8f74c37e970abba6!2sMalambo%2C%20Atl%C3%A1ntico%2C%20Colombia!5e0!3m2!1sen!2sus!4v1622610733682!5m2!1sen!2sus"
                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <!--Este es el JS del Login-->

    <script>


        function login() {
            // Realizar el proceso de inicio de sesión
            
            // Limpiar los campos de inicio de sesión
  document.getElementById("loginForm").reset();
  
  // Redireccionar al usuario al index
  window.location.href = "/index.html"; 
}


function checkLogin() {
    if (localStorage.getItem("isLoggedIn")) {
      window.location.href = "index.html"; // Redirigir a la página index
    }
    else {
      // Agregar una nueva entrada al historial sin cambiar la URL
      history.replaceState(null, null, window.location.href);
      history.pushState(null, null, window.location.href);
      window.onpopstate = function(event) {
        history.go(1);
      };
    }
  }

  function login() {
    // Lógica de inicio de sesión aquí
    localStorage.setItem("isLoggedIn", true);
  }


        function logout() {
            // Redireccionar al usuario a una página diferente
            window.location.href = "/logout";

            // Reemplazar la URL actual en el historial del navegador
         
            var newUrl = window.location.origin + "/login"; 
            window.history.pushState({}, '', newUrl);

              // Invalidar el historial
      history.replaceState(null, document.title, window.location.href);
    }

        

    </script>



</body>

</html>
