{% extends 'layoutlogin.html' %}

{% block title %}Registro de Mascotas - Baño Huellas{% endblock %}

{% block content %}
<script>
    // Función para invalidar el historial de navegación
    function invalidateHistory() {
        if (typeof window !== 'undefined') {
            window.history.replaceState(null, null, window.location.href);
        }
    }

    // Llamar a la función para invalidar el historial al cargar la página
    window.onload = invalidateHistory;
</script>

<style>
    body {
        background-image: url("{{ url_for('static', filename='img/fondoverde.jpg') }}");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        border-radius: 5px;
    }

    .register-form {
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        position: relative;
    }

    .register-form input {
        background-color: white;
        color: black;
        border-radius: 30px;
    }

    .logo {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
    }

    .form-title {
        margin-top: 70px;
        margin-bottom: 20px;
        text-align: center;
    }

    .success-alert {
        background-color: #d4edda;
        color: #155724;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
    }
</style>



<!-- Modal -->

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Registro Exitoso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {% with messages = get_flashed_messages() %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endwith %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript para mostrar el modal -->
<script>
  $(document).ready(function() {
    {% if 'success' in messages|map(attribute='0') %}
      $('#successModal').modal('show');
    {% endif %}
  });
</script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="register-form">
                <img src="{{ url_for('static', filename='img/vet.png') }}" alt="Logo" class="logo">
                <h2 class="form-title"><br>Registro de Mascotas</h2>
                <div class="success-alert">
                    {% with messages = get_flashed_messages() %}
                      {% for message in messages %}
                        <p>{{ message }}</p>
                      {% endfor %}
                    {% endwith %}
                </div>
                <form method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="especie">Especie</label>
                        <input type="text" class="form-control" id="especie" name="especie" required>
                    </div>
                    <div class="form-group">
                        <label for="raza">Raza</label>
                        <input type="text" class="form-control" id="raza" name="raza" required>
                    </div>
                    <div class="form-group">
                        <label for="edad">Edad</label>
                        <input type="number" class="form-control" id="edad" name="edad" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar Mascota</button>
                    <button class="btn btn-primary rounded-pill me-2" onclick="window.location.href = 'inicio'">Inicio</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
