{% extends 'layoutlogin.html' %}

{% block title %}Restablecer Contraseña - Tu Aplicación{% endblock %}

{% block content %}
  <h2>Restablecer Contraseña</h2>

  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert alert-{{ message[1] }}" role="alert">
        {{ message[0] }}
      </div>
    {% endfor %}
  {% endwith %}

  <form method="POST">
    <input type="hidden" name="email" value="{{ email }}">
    <div class="form-group">
      <label for="password">Nueva Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
  </form>
{% endblock %}
