{% extends "./layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Home-template.css')}}">
<div class="container">
    <div class="page-header">
      <h1 class="all-tittles">Sistema bibliotecario <small>Administración Usuarios</small></h1>
    </div>
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
        <li role="presentation"  class="active"><a href="indexadmin">Administradores</a></li>
        <li role="presentation"><a href="indexdocentes">Docentes</a></li>
        <li role="presentation"><a href="indexestudiante">Estudiantes</a></li>
        <li role="presentation"><a href="indexpersonaladministrativo">Personal administrativo</a></li>
    </ul>
</div>
<div class="container-fluid"  style="margin: 50px 0;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img src="{{url_for('static', filename='assets/img/user01.png')}}" alt="user" class="img-responsive center-box" style="max-width: 110px;">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
            Bienvenido a la sección para registrar nuevos administradores del sistema, debes de llenar todos los campos del siguiente formulario para registrar un administrador
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 lead">
            <ol class="breadcrumb">
              <li class="active">Nuevo administrador</li>
              <li><a href="indexlistaadministradores">Listado de administradores</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container-flat-form">
        <div class="title-flat-form title-flat-blue">Registrar un nuevo administrador</div>
        <form class="form-padding">
            <div class="row">
                <div class="col-xs-12">
                    <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Datos básicos</legend><br>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="text" id="nombreadmin" class="material-control tooltips-general" placeholder="Nombre completo" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del administrador">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre completo</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input type="email" id="emailadmin" class="material-control tooltips-general" placeholder="E-mail"  maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe el Email del administrador">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <legend><i class="zmdi zmdi-lock"></i> &nbsp; Datos de la cuenta</legend><br>
                </div>
                <div class="col-xs-12">
                   <div class="group-material">
                        <input id="usernameadmin" type="text" class="material-control tooltips-general input-check-user" placeholder="Nombre de usuario" required="" maxlength="20" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ]{1,20}" data-toggle="tooltip" data-placement="top" title="Escribe un nombre de usuario sin espacios, que servira para iniciar sesión">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre de usuario</label>
                   </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="group-material">
                        <input id="passadmin" type="password" class="material-control tooltips-general" placeholder="Contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Escribe una contraseña">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Contraseña</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                   <div class="group-material">
                        <input id="passadmin2" type="password" class="material-control tooltips-general" placeholder="Repite la contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Repite la contraseña">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Repetir contraseña</label>
                   </div>
                </div>
               <div class="col-xs-12">
                    <p class="text-center">
                        <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                        <a  class="btn btn-primary" onclick="GuardarAdministrador()"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</a>
                    </p> 
               </div>
           </div>
        </form>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
        </div>
        <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dignissimos qui molestias ipsum officiis unde aliquid consequatur, accusamus delectus asperiores sunt. Quibusdam veniam ipsa accusamus error. Animi mollitia corporis iusto.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
        </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/BIJS/hometemplate.js')}}"> </script>
{% endblock %}