/* Estilos generales */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Estilos para los formularios */
.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  margin-top: 15px;
}

/* Estilos adicionales para la página de registro */
p {
  margin-top: 20px;
}
