<div class="container">
        <div class="page-header">
          <h1 class="all-tittles">Sistema bibliotecario <small>Inicio</small></h1>
        </div>
    </div>
    <section class="full-reset text-center" style="padding: 40px 0;">
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
            <div class="tile-name all-tittles"><a href= "indexAdmin">administradores</a></div>
            <div class="tile-num full-reset">7</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
            <div class="tile-name all-tittles"><a href="indexestudiantes">estudiantes</a></div>
            <div class="tile-num full-reset">70</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-male-alt"></i></div>
            <div class="tile-name all-tittles"><a href="indexdocentes">docentes</a></div>
            <div class="tile-num full-reset">11</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-male-female"></i></div>
            <div class="tile-name all-tittles"><a href="indexpersonaladministrativo">personal administrativo</a></div>
            <div class="tile-num full-reset">17</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-truck"></i></div>
            <div class="tile-name all-tittles"><a href="indexproveedores">proveedores</a></div>
            <div class="tile-num full-reset">21</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
            <div class="tile-name all-tittles"><a href="indexlibros">libros</a></div>
            <div class="tile-num full-reset">77</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-bookmark-outline"></i></div>
            <div class="tile-name all-tittles"><a href="indexcategorias">categorias</a></div>
            <div class="tile-num full-reset">11</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-assignment-account"></i></div>
            <div class="tile-name all-tittles"><a href="indexsecciones">secciones</a></div>
            <div class="tile-num full-reset">17</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-timer"></i></div>
            <div class="tile-name all-tittles"><a href="indexreservaciones">reservaciones</a></div>
            <div class="tile-num full-reset">10</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-time-restore"></i></div>
            <div class="tile-name all-tittles" style="width: 90%;"><a href="indexdevolucionespendientes">devoluciones pendientes</a></div>
            <div class="tile-num full-reset">9</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
            <div class="tile-name all-tittles"><a href="indexprestamos">préstamos</a></div>
            <div class="tile-num full-reset">7</div>
        </article>
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-trending-up"></i></div>
            <div class="tile-name all-tittles" style="width: 90%;"><a href="indexreportesyestadisticas">reportes y estadísticas</a></div>
            <div class="tile-num full-reset">&nbsp;</div>
        </article>
    </section>
    <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dignissimos qui molestias ipsum officiis unde aliquid consequatur, accusamus delectus asperiores sunt. Quibusdam veniam ipsa accusamus error. Animi mollitia corporis iusto.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
            </div>
        </div>
      </div>
    </div>